<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
	<td><%= line_item.quantity %> &times;</td>
	<td><%= line_item.product.title %></td>
	<td class="item_price"><%= number_to_currency(line_item.total_price)%></td>
	<td><%= link_to 'Remove', line_item, :method => :delete, :confirm => 'Are you sure to delete?'%></td>
	<td><%= link_to 'Update', line_item, :method => :put, :confirm => 'Are you sure to decrease one?', :remote => true %></td>
</tr>
