<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "scaffold"%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf"%>		
	</div>
	<div id="columns">
		<div id="side" style="height: 100%">

			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
					<%= render @cart%>
				<% end %>
			<% end %>

			<%= link_to 'Home', store_path %></br>
			<%= link_to 'Questions', "#" %></br>
			<%= link_to 'News', "#" %></br>
			<%= link_to 'Contact', "#" %></br>
		</div>
	
		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
